@model RentCar.Models.User

@{
    ViewData["Title"] = "Meus dados";
}

<br />
<div class="text-center">
    @{
        if (TempData["confirm"] != null)
        {
            <p class="alert alert-success h6">
                @TempData["confirm"]
            </p>
        }
        else if (TempData["erro"] != null)
        {
            <p class="alert alert-danger h6">
                @TempData["erro"]
            </p>
        }
    }
</div>
<div class="card">
    <div class="card-header">
        <div class="h3 row">
            <div class="col">
                <i class="fas fa-address-card fa-lg"></i> Meus Dados
                <button data-id="@Model.Id" class="btn btn-outline-default editUser" data-toggle="tooltip" data-placement="right" title="Atualizar dados"><i class="fa fa-edit fa-lg"></i></button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-signature fa-lg"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="@Model.Name" aria-label="@Model.Name" aria-describedby="basic-addon1" disabled>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="far fa-address-card fa-lg"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="@Model.Cpf" aria-label="@Model.Cpf" aria-describedby="basic-addon1" disabled>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-phone fa-lg"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="@Model.PhoneNumber" aria-label="@Model.PhoneNumber" aria-describedby="basic-addon1" disabled>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-user fa-lg"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="@Model.UserName" aria-label="@Model.UserName" aria-describedby="basic-addon1" disabled>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="far fa-envelope-open fa-lg"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="@Model.Email" aria-label="@Model.Email" aria-describedby="basic-addon1" disabled>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="far fa-money-bill-alt fa-lg"></i></span>
                    </div>
                    @{
                        if (Model.Account.Balance.ToString() != null)
                        {
                            <input type="text" class="form-control" placeholder="@Html.DisplayFor(model => model.Account.Balance)" aria-label="@Html.DisplayFor(model => model.Account.Balance)" aria-describedby="basic-addon1" disabled>

                        }
                        else
                        {
                            <input type="text" class="form-control" placeholder="R$ 0,00" aria-label="R$ 0,00" aria-describedby="basic-addon1" disabled>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<div class="card">
    <div class="card-header">
        <div class="h3 row">
            <div class="container">
                <i class="fas fa-home fa-lg"></i> Meus Endereços
                <button data-userId="@Model.Id" class="btn btn-outline-default addressCreate" data-toggle="tooltip" data-placement="right" title="Cadastrar endereço"><i class="fas fa-plus-circle fa-lg"></i></button>
            </div>
        </div>
    </div>
    <div class="card-body table-responsive">
        <partial name="_Addresses" model="@Model.Addresses" />
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
